div.sidebar-overlay
aside.sidebar
  div.sidebar__header
    a(class="sidebar__header__brand", href="/admin/")
      img(src='/imgs/logo.jpg')
      h1 #{lingua.general.system_name}
  div.sidebar__user
    div.sidebar__user__avatar
      img(src=(user && user.avatar ? `/files/user_avatar/${user.avatar}` : '/imgs/user.png'))
      span.badge.new
    div.sidebar__user__info
      h3 #{user && user.firstName + ' ' + user.lastName}
      h4 #{user && user.job}
  div.sidebar__collapse
    ul(class="collapsible")
      if user.permissions.includes("read_dashboard")
        li(class=(page_name == "dashboard" ? "active current-page" : ""))
          a(class="collapsible-header", href="/admin")
            div
              span.icon
                i(class="material-icons") home
              span.title
                | #{lingua.layouts.sidebar.dashboard}

      if user.permissions.includes("read_settings")
        li(class=(page_name == "settings" ? "active current-page" : ""))
          a(class="collapsible-header", href="/admin/settings")
            div
              span.icon
                i(class="material-icons") settings
              span.title
                | #{lingua.layouts.sidebar.settings}


      if user.permissions.includes("read_roles") || user.permissions.includes("create_roles")
        li(class=(page_name == "roles" ? "active current-page" : ""))
          div(class="collapsible-header")
            div
              span.icon
                i(class="material-icons") border_vertical
              span.title
                | #{lingua.layouts.sidebar.roles}
            div
              span.icon
                i(class="material-icons") chevron_right
          div(class="collapsible-body")
            ul(class="collapse-list")
              if user.permissions.includes("create_roles")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/roles/create") #{lingua.layouts.sidebar.create_role}
              if user.permissions.includes("read_roles")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/roles") #{lingua.layouts.sidebar.manage_roles}

      if user.permissions.includes("read_users") || user.permissions.includes("create_users")
        li(class=(page_name == "users" ? "active current-page" : ""))
          div(class="collapsible-header")
            div
              span.icon
                i(class="material-icons") supervisor_account
              span.title
                | #{lingua.layouts.sidebar.users}
            div
              span.icon
                i(class="material-icons") chevron_right
          div(class="collapsible-body")
            ul(class="collapse-list")
              if user.permissions.includes("create_users")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/users/create") #{lingua.layouts.sidebar.create_user}
              if user.permissions.includes("read_users")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/users") #{lingua.layouts.sidebar.manage_users}

      if user.permissions.includes("read_categories") || user.permissions.includes("create_categories")
        li(class=(page_name == "categories" ? "active current-page" : ""))
          div(class="collapsible-header")
            div
              span.icon
                i(class="material-icons") blur_linear
              span.title
                | #{lingua.layouts.sidebar.categories}
            div
              span.icon
                i(class="material-icons") chevron_right
          div(class="collapsible-body")
            ul(class="collapse-list")
              if user.permissions.includes("create_categories")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/categories/create") #{lingua.layouts.sidebar.create_category}
              if user.permissions.includes("read_categories")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/categories") #{lingua.layouts.sidebar.manage_categories}


      if user.permissions.includes("read_books") || user.permissions.includes("create_books")
        li(class=(page_name == "books" ? "active current-page" : ""))
          div(class="collapsible-header")
            div
              span.icon
                i(class="material-icons") book
              span.title
                | #{lingua.layouts.sidebar.books}
            div
              span.icon
                i(class="material-icons") chevron_right
          div(class="collapsible-body")
            ul(class="collapse-list")
              if user.permissions.includes("create_books")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/books/create") #{lingua.layouts.sidebar.create_book}
              if user.permissions.includes("read_books")
                li(class="collapse-item")
                  a(class="collapse-link", href="/admin/books") #{lingua.layouts.sidebar.manage_books}