extends ../../core

block title
  title #{lingua.pages.books.books}

block breadcrumbTitle
  | #{lingua.pages.books.books}

block breadcrumbs
  | #{lingua.pages.books.books}

block content
  if successMsg.length
    div.row
      div.col.s12
        div(class="alert-success card-panel")
          span(class="white-text text-darken-2") #{successMsg}
  div(class="row")
    div(class="col s12")
      div(class="card")
        div(class="card-content")
          span(class="card-title") #{lingua.pages.books.manage_books}
          div(class="row")
            div.col.s12
              div.overflow-auto
                table
                  thead
                    tr
                      th #
                      th #{lingua.pages.books.name}
                      th #{lingua.pages.books.author}
                      th #{lingua.pages.books.description}
                      th #{lingua.pages.books.category}
                      th #{lingua.pages.books.price}
                      th #{lingua.pages.books.discount}
                      th #{lingua.pages.books.action}
                  tbody
                    each item, index in books
                      tr
                        td= index + 1
                        td= item.name
                        td= item.author
                        td= item.description
                        td= item.category && item.category.name
                        td= item.price
                        td= item.discount
                        td
                          a(class="update-item", href=`/admin/books/${item._id}/update`)
                            i.material-icons edit
                          a(class="delete-item", href=`/admin/books/${item._id}/delete`)
                            i.material-icons clear
  

  a(class="create-item-btn btn-floating btn-large waves-effect waves-light pulse", href="/admin/books/create")
    i(class="material-icons") add
