extends ../core

block title
  title home page

block body

  section.slider_section
    #customCarousel1.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          .container
            .row
              .col-md-6
                .detail-box
                  h5.
                    
                    Bostorek Bookstore
                    
                  h1
                    | For All Your
                    br
                    | Reading Needs

                  p.
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                    
                  a(href).
                    
                    Read More
                    
              .col-md-6
                .img-box
                  img(src='/client/images/slider-img.png' alt)
        .carousel-item
          .container
            .row
              .col-md-6
                .detail-box
                  h5.
                    
                    Bostorek Bookstore
                    
                  h1
                    | For All Your
                    br
                    | Reading Needs

                  p.
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                    
                  a(href).
                    
                    Read More
                    
              .col-md-6
                .img-box
                  img(src='/client/images/slider-img.png' alt)
        .carousel-item
          .container
            .row
              .col-md-6
                .detail-box
                  h5.
                    
                    Bostorek Bookstore
                    
                  h1
                    | For All Your
                    br
                    | Reading Needs

                  p.
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                    
                  a(href).
                    
                    Read More
                    
              .col-md-6
                .img-box
                  img(src='/client/images/slider-img.png' alt)
      .carousel_btn_box
        a.carousel-control-prev(href='#customCarousel1' role='button' data-slide='prev')
          i.fa.fa-angle-left(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#customCarousel1' role='button' data-slide='next')
          i.fa.fa-angle-right(aria-hidden='true')
          span.sr-only Next

  section.catagory_section.layout_padding
    .catagory_container
      .container
        .heading_container.heading_center
          h2 Books Categories
          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            
        .row
          if categories.length
            for category, index in categories
              .col-sm-6.col-md-4
                .box
                  .img-box
                    img(src=`/client/images/cat${index < 5 ? index + 1 : 1 }.png` alt)
                  .detail-box
                    h5= category.name
                    p= category.description
        if categories.length > 6
          div.pt-5.text-center
            a(href="/categories", class="btn btn-info") #{lingua.client.general.read_more.toUpperCase()}
                  
  section.book_section.layout_padding
    .container
      .heading_container.heading_center
        h2 Books
        p there are many books
      .row
        for book, index in books
          .col-md-4
            .box
              .img-box
                img(src=(book.image ? `/files/books/${book.image}` : '/client/images/b1.jpg'))
                h4.book_price
                  span #{`${book.price} EG`}
              .detail-box
                h5= book.name ? book.name : "no name"
                p= book.description ? book.description : "no description"
                button(type="button", class="add-to-cart-btn", data-book-id=(book._id)) add to cart
              
      if books.length > 6
        div.pt-5.text-center
          a(href="/books", class="btn btn-info") #{lingua.client.general.read_more.toUpperCase()}

  section.client_section.layout_padding
    .container
      .heading_container.heading_center
        h2.
          
          What Says Customers
          
        hr
      .row
        .col-md-6.mx-auto
          .client_container
            .detail-box
              p.
                
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                
              span
                i.fa.fa-quote-left(aria-hidden='true')
            .client_id
              .img-box
                img(src='/client/images/c1.jpg' alt)
              .client_name
                h5.
                  
                  Jone Mark
                  
                h6.
                  
                  Student
                  
        .col-md-6.mx-auto
          .client_container
            .detail-box
              p.
                
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                
              span
                i.fa.fa-quote-left(aria-hidden='true')
            .client_id
              .img-box
                img(src='/client/images/c2.jpg' alt)
              .client_name
                h5.
                  
                  Anna Crowe
                  
                h6.
                  
                  Student
                  
        .col-lg-6.mx-auto
          .client_container
            .detail-box
              p.
                
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                
              span
                i.fa.fa-quote-left(aria-hidden='true')
            .client_id
              .img-box
                img(src='/client/images/c3.jpg' alt)
              .client_name
                h5.
                  
                  Hilley James
                  
                h6.
                  
                  Student
                
  section.contact_section.layout_padding
    .container
      .row
        .col-md-6
          .heading_container
            h2 Contact Us
              
          form(action='#')
            div
              input(type='text' placeholder='Name')
            div
              input(type='email' placeholder='Email')
            div
              input(type='text' placeholder='Pone Number')
            div
              input.message-box(type='text' placeholder='Message')
            .btn-box
              button SEND
                
        .col-md-6
          .img-box
            img(src='/client/images/contact-img.png' alt)