extends ../core

block title
  title home page

block body

  section.slider_section
    #customCarousel1.carousel.slide(data-ride='carousel')
      .carousel-inner
        for book, index in books
          div(class=`carousel-item ${index == 0 ? 'active': ''}`)
            .container
              .row
                .col-md-6
                  .detail-box
                    h1= book.category && book.category.name
                    h5= book.name
                    p= book.description
                    a(href="/books")= lingua.client.general.read_more
                      
                .col-md-6
                  .img-box
                    img(src=`${book.image ? `/files/books/${book.image}` : '/client/images/slider-img.png'}` alt="book")
      .carousel_btn_box
        a.carousel-control-prev(href='#customCarousel1' role='button' data-slide='prev')
          i.fa.fa-angle-left(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#customCarousel1' role='button' data-slide='next')
          i.fa.fa-angle-right(aria-hidden='true')
          span.sr-only Next

  section.catagory_section.layout_padding
    .catagory_container
      .container
        .heading_container.heading_center
          h2= lingua.client.general.books_categories
            
        .row
          if categories.length
            for category, index in categories
              .col-sm-6.col-md-4
                .box
                  .img-box
                    img(src=`/client/images/cat${index < 5 ? index + 1 : 1 }.png` alt)
                  .detail-box
                    h5= category.name
                    p= category.description
        if categories.length > 6
          div.pt-5.text-center
            a(href="/categories", class="btn btn-info") #{lingua.client.general.read_more.toUpperCase()}
                  
  section.book_section.layout_padding
    .container
      .heading_container.heading_center
        h2= lingua.client.general.books
      .row
        for book, index in books
          .col-md-4.col-lg-3
            .box
              .img-box
                img(src=(book.image ? `/files/books/${book.image}` : '/client/images/b1.jpg'))
                h4.book_price
                  span #{`${book.price} EG`}
              .detail-box
                h5= book.name ? book.name : "no name"
                p= book.category ? book.category.name : "no category"
                p= book.description ? book.description : "no description"
                button(type="button", class="add-to-cart-btn", data-book-id=(book._id)) add to cart
              
      if books.length > 6
        div.pt-5.text-center
          a(href="/books", class="btn btn-info") #{lingua.client.general.read_more.toUpperCase()}

  section.contact_section.layout_padding
    .container
      .row
        .col-md-6
          .heading_container
            h2= lingua.client.pages.contact.contact
              
          form(action='#')
            div
              input(type='text' placeholder=(lingua.client.pages.contact.name))
            div
              input(type='email' placeholder=(lingua.client.pages.contact.email))
            div
              input(type='text' placeholder=(lingua.client.pages.contact.phone))
            div
              input.message-box(type='text' placeholder=lingua.client.pages.contact.message)
            .btn-box
              button #{lingua.client.pages.contact.send.toString()}
                
        .col-md-6
          .img-box
            img(src='/client/images/contact-img.png' alt)