extends ../../core

block title
  title #{lingua.pages.categories.categories}

block breadcrumbTitle
  | #{lingua.pages.categories.categories}

block breadcrumbs
  | #{lingua.pages.categories.categories}

block content
  if successMsg.length
    div.row
      div.col.s12
        div(class="alert-success card-panel")
          span(class="white-text text-darken-2") #{successMsg}
  div(class="row")
    div(class="col s12")
      div(class="card")
        div(class="card-content")
          span(class="card-title") #{lingua.pages.categories.manage_categories}
          div(class="row")
            div.col.s12
              div.overflow-auto
                table
                  thead
                    tr
                      th #
                      th #{lingua.pages.categories.name}
                      th #{lingua.pages.categories.description}
                      th #{lingua.pages.categories.action}
                  tbody
                    each item, index in categories
                      tr
                        td= index + 1
                        td= item.name
                        td= item.description
                        td
                          a(class="update-item", href=`/admin/categories/${item._id}/update`)
                            i.material-icons edit
                          a(class="delete-item", href=`/admin/categories/${item._id}/delete`)
                            i.material-icons clear
  

  a(class="create-item-btn btn-floating btn-large waves-effect waves-light pulse", href="/admin/categories/create")
    i(class="material-icons") add
