extends ../../core

block title
  title #{lingua.pages.categories.update_category}

block breadcrumbTitle
  | #{lingua.pages.categories.update_category}

block breadcrumbs
  | #{lingua.pages.categories.update_category}

block content
  if validationErrors.length
    div.row
      div.col.s12
        div(class="alert-danger card-panel")
          each error, index in validationErrors
            span(class="white-text text-darken-2") #{error.msg}
  div(class="row")
    div(class="col s12")
      div(class="card")
        div(class="card-content")
          span(class="card-title") #{lingua.pages.categories.update_category}
          div(class="row")
            div.col.s12
              form(class="main-form", method="POST")
                div(class="row")

                  div(class="input-field col s12")
                    input(type="text", name="name" id="id_name", value=(category.name))
                    label(for="id_name") #{lingua.pages.categories.name}

                  div(class="input-field col s12")
                    input(type="text", name="description" id="id_description", value=(category.description))
                    label(for="id_description") #{lingua.pages.categories.description}

                  div(class="input-field col s12")
                    button(class="btn waves-effect waves-light" type="submit") #{lingua.general.save}
                      i(class="material-icons right") send