extends ../../core

block title
  title #{lingua.pages.dashboard.dashboard}

block breadcrumbTitle
  | #{lingua.pages.dashboard.dashboard}
block breadcrumbs
  | #{lingua.pages.dashboard.dashboard}

block content
  if successMsg.length
    div.row
      div.col.s12
        div(class="alert-success card-panel")
          span(class="white-text text-darken-2") #{successMsg}
  section.main-dashboard
    section.general-widgets
      div.row
        div.col.s12.m6.xl3
          div.card
            h4.card-title #{lingua.pages.dashboard.total_users}
            h5.card-count.users-count
              span.small-loader
            span.material-icons supervisor_account
        div.col.s12.m6.xl3
          div.card.sec
            h4.card-title #{lingua.pages.dashboard.total_documents}
            h5.card-count.documents-count
              span.small-loader
            span.material-icons insert_drive_file
        div.col.s12.m6.xl3
          div.card
            h4.card-title #{lingua.pages.dashboard.valid_documents}
            h5.card-count.valid-documents-count
              span.small-loader
            span.material-icons content_paste
        div.col.s12.m6.xl3
          div.card
            h4.card-title #{lingua.pages.dashboard.total_clients}
            h5.card-count.clients-count
              span.small-loader
            span.material-icons account_circle


block scripts
  script(src="/scripts/pages/dashboard.js")