extends ../../core

block title
  title #{lingua.pages.profile.update_password}

block breadcrumbTitle
  | #{lingua.pages.profile.update_password}

block breadcrumbs
  | #{lingua.pages.profile.update_password}

block content
  div(class="row")
    div(class="col s12")
      div(class="card")
        div(class="card-content")
          span(class="card-title") #{lingua.pages.profile.update_password}
          div(class="row")
            div.col.s12
              form(class="main-form", method="POST")
                div(class="row")

                  div(class="input-field col s12")
                    input(type="password", name="old_password" id="id_old_password")
                    label(for="id_old_password") #{lingua.pages.profile.old_password}

                  div(class="input-field col s12")
                    input(type="password", name="new_password" id="id_new_password")
                    label(for="id_new_password") #{lingua.pages.profile.new_password}

                  div(class="input-field col s12")
                    input(type="password", name="confirm_new_password" id="id_confirm_new_password")
                    label(for="id_confirm_new_password") #{lingua.pages.profile.confirm_new_password}

                  div(class="input-field col s12")
                    button(class="btn waves-effect waves-light" type="submit") #{lingua.general.save}
                      i(class="material-icons right") send